html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mountains of Christmas', cursive;
    color: #20012a;
    background-image: linear-gradient( #e6d9e8, #57245e);

}

.office {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.office img {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

#desk {
    width: 100%;
}

#plant {
    width: 100%;
}

.btn {
    background-color: #20012a !important;
    color: #fff !important;
    padding: 12px !important;
}

.btn:hover {
    background-color: #2e4e34 !important;
}

a.nav-link {
    color:#20012a;
}
  
.social i {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#projects-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card {
    position: relative;
    width: 470px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    margin: 14px;
}

.container .card h2 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 110px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px 6px #20012a;
}

.container .card p {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #333;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.container .card .pic {
    width: 370px;
    height: 200px;
    background-image: url("/assets/img/photo-FitIt.jpg");
    background-size: 100% 100%;
    filter: grayscale(100%);
}
.container .card .social {
    z-index: 1;
    position: absolute;
    left: 280px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80px;
    height: 64px;
    border-radius: 80px;
}
.container .card .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.container .card .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.container .card .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.container .card .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.container .card:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.container .card button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #da4d1d;
    border: none;
    border-radius: 30px;
    cursor: none;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}
.container .card button i {
    font-size: 3rem;
}
.container .card:hover button {
    transform: scale(16.5);
}
.container .card:hover p {
    color: #fff;
}
.container .card:hover .pic {
    filter: grayscale(0);
}
.container .card2 .pic {
    background-image: url("/assets/img/HomepageFinal.jpg");
}
.container .card2 button {
    background-color: #2b26c3;
}
.container .card3 .pic {
    background-image: url("/assets/img/TypeMaster.jpg");
}
.container .card3 button {
    background-color: #502844;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        margin-left: -7px;
    }
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    #project-cards {
        max-width: 540px;
    }

    .col {
        flex: none;
    }

    .card .social {
      left: 280px;
    }

    .card p {
        right: 18px;
    }

    .card {
        width: 420px;
    }

    .card h2 {
        right: 70px;
    }
}

@media only screen and (max-width: 425px) {
    /* For mobiles: */
    .card .social {
      left: 250px;
    }

    .card .pic {
        width: 340px;
    }

    .card {
        width: 390px;
    }

    .card h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 320px) {
    /* For extra small screens */
    .container .card {
        width: 270px;
        height: 160px;
    }

    .container .card h2 {
        position: absolute;
        bottom: 4px;
        margin-right: 9px;
        margin-left: 10px;
        font-size: 40px;
        color:#e6d9e8;
    }

    .container .card p {
        position: absolute;
        top: 8px;
        right: 9px;
        font-size: 14px;
        letter-spacing: 1px;
        writing-mode: vertical-rl;
    }

    .container .card .social {
        left: 90px;
        top: 0px;
        width: 70px;
        height: 76px;
    }

    .container .card .pic {
        width: 203px;
        height: 159px;
        background-size: 100% 100%;
        top: 0px;
        margin-left: 0px;
        position: absolute;
    }
}